@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-image {
  background-image: url("../../public/footer.jpg");
}

.breadcrumb-image {
  background-image: url("../../public/breadcrumb.webp");
  background-size: cover;
}
